    

<div class= "container heading" style="margin-top: 5%;">
    <h1>NihaLife <span style="font-weight: lighter;">|</span> Potential Income Calculator</h1>
</div>

<div class="card" style="margin-top: 5%;">
    <div class="card-header container-fluid">
    <div class = "row">
        <div class="col-3" style="margin-top: 6px;">
            <h6>Potential Income as an Agent</h6> 
        </div>
        <div class="col-3" style="text-align: right; margin-top: 5px;"> Annual Target Premium </div>
        <div class="col-3">
            <div class="input-group">
                <span class="input-group-text">$</span>
            <input class="col atp" type="number" placeholder="Amount" id="atp" [(ngModel)]="annualTargetPremium">
        </div>
        </div>
        <div class="col-3"> <h4 style="margin-top: 5px; text-align: center; color: green;">$ {{annualTargetPremium * 0.8 | number :'1.2-3'}}</h4></div>
    </div>
    </div>
    <div class="card-body">
        <h5 class="card-title">Potential Income as Hierarchy</h5>
        <div class="table-responsive">
            <table class="card-table table">
                <thead>
                    <tr>
                      <th scope="col-2">Levels</th>
                      <th scope="col-3" >Agent Count</th>
                      <th scope="col-2" style="text-align: center;">Annual Target Premium</th>
                      <th scope="col-2" style="text-align: center;">Percentage</th>
                      <th scope="col-3" style="text-align: center;"> Override Income</th>
                    </tr>
                  </thead>
                  <tr>
                    <td class="levels">Level 1</td>
                    <td>
                       <input type="number" min="1" max="32" size="3" style="padding-left: 5px; margin-left: 15px;" [(ngModel)]="agentcount1"> 
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" style="size: 3px;">$</span>
                            <input class="col atp" type="number" placeholder="Annual Target Premium" min="0"  [(ngModel)]="atp1">
                        </div>
                    </td>
                    <td class="percentage">17.5%</td>
                    <td class="override">$ {{(((atp1 * agentcount1) * 0.2) * 0.175)| number :'1.2-3'}}</td>
                  </tr>
                  <tr>
                    <td class="levels">Level 2</td>
                    <td>
                        <input type="number" min="1" max="32" size="3" style="padding-left: 5px; margin-left: 15px;" [(ngModel)]="agentcount2"> 
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" style="size: 3px;">$</span>
                            <input class="col atp" type="number" placeholder="Annual Target Premium" min="0"  [(ngModel)]="atp2">
                        </div>
                    </td>
                    <td class="percentage">20%</td>
                    <td class="override">$ {{(((atp2 * agentcount2) * 0.2) * 0.2) | number :'1.2-3'}}</td>
                  </tr>
                  <tr>
                    <td class="levels">Level 3</td>
                    <td>
                        <input type="number" min="1" max="32" size="3" style="padding-left: 5px; margin-left: 15px;" [(ngModel)]="agentcount3"> 
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" style="size: 3px;">$</span>
                            <input class="col atp" type="number" placeholder="Annual Target Premium" min="0" [(ngModel)]="atp3" >
                        </div>
                    </td>
                    <td class="percentage">12.5%</td>
                    <td class="override">$ {{(((atp3 * agentcount3) * 0.2) * 0.125 ) | number :'1.2-3'}}</td>
                  </tr>
                  <tr>
                    <td class="levels">Level 4</td>
                    <td>
                        <input type="number" min="1" max="32" size="3" style="padding-left: 5px; margin-left: 15px;" [(ngModel)]="agentcount4"> 
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" style="size: 3px;">$</span>
                            <input class="col atp" type="number" placeholder="Annual Target Premium"  min="0" [(ngModel)]="atp4" >
                        </div>
                    </td>
                    <td class="percentage">7.5%</td>
                    <td class="override">${{(((atp4 * agentcount4) * 0.2) * 0.075) | number :'1.2-3'}}</td>
                  </tr>
                  <tr>
                    <td class="levels">Level 5</td>
                    <td>
                        <input type="number" min="1" max="32" size="3" style="padding-left: 5px; margin-left: 15px;" [(ngModel)]="agentcount5"> 
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" style="size: 3px;">$</span>
                            <input class="col atp" type="number" placeholder="Annual Target Premium"  min="0"  [(ngModel)]="atp5">
                        </div>
                    </td>
                    <td class="percentage">10%</td>
                    <td class="override">$ {{(((atp5 * agentcount5) * 0.2) * 0.1) | number :'1.2-3'}}</td>
                  </tr>
                  <tr>
                    <td class="levels">Level 6</td>
                    <td>
                        <input type="number" min="1" max="32" size="3" style="padding-left: 5px; margin-left: 15px;" [(ngModel)]="agentcount6"> 
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" style="size: 3px;">$</span>
                            <input class="col atp" type="number" placeholder="Annual Target Premium" [(ngModel)]="atp6">
                        </div>
                    </td>
                    <td class="percentage">12.5%</td>
                    <td class="override">$ {{(((atp6 * agentcount6) * 0.2) * 0.125) | number :'1.2-3'}}</td>
                  </tr>
                  <tr>
                    <td class="levels">Level 7</td>
                    <td>
                        <input type="number" min="1" max="32" size="3" style="padding-left: 5px; margin-left: 15px;" [(ngModel)]="agentcount7"> 
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-text" style="size: 3px;">$</span>
                            <input class="col atp" type="number" placeholder="Annual Target Premium"  min="0" [(ngModel)]="atp7">
                        </div>
                    </td>
                    <td class="percentage">20%</td>
                    <td class="override">$ {{(((atp7 * agentcount7) * 0.2) * 0.2) | number :'1.2-3'}}</td>
                  </tr>
            </table>    
        </div>
    </div>
    <div class="card-footer">
      <div class="row footer">
          <div class="col-9" style="text-align: center;"><h4 style="color: green;">Grand total is</h4></div>
          <div class="col-3"><h4 style="color: green; text-align: center; margin-right: 5px;">${{ (((atp1 * agentcount1) * 0.2) * 0.175) + (((atp2 * agentcount2) * 0.2) * 0.2) + (((atp3 * agentcount3) * 0.2) * 0.125 ) + (((atp4 * agentcount4) * 0.2) * 0.075) + (((atp5 * agentcount5) * 0.2) * 0.1) + (((atp6 * agentcount6) * 0.2) * 0.125) + (((atp7 * agentcount7) * 0.2) * 0.2) | number :'1.2-3' }}</h4></div>
      </div>
    </div>
</div>


